In [1]:
df = read.csv("influenza_aus.csv", header=TRUE, stringsAsFactors=TRUE)
df_extra = read.csv("2008_influenza.csv", header=TRUE, stringsAsFactors=TRUE)

library(dplyr)
## we have multiple columns where there are NA values and in the raw data this was used to separate each year of data

In [2]:
df <- df[,!apply(is.na(df), 2, any)]
head(df)

#df[,'class'] <- as.numeric(as.character(df[,'class']))
#%>% select(where(~!all(is.na(.))))

  X                                                             X2011  X.1
1 Cause of death and ICD-10 code                                Males  Females
2 Total deaths                                                  75,377 71,413
3
4 Causes of death
5 CHAPTER I Certain infectious and parasitic diseases (A00-B99) 1,236  1162
6 Intestinal infectious diseases  (A00-A09)                     51     79
  X.2     X2012  X.4     X.5     X2013  X.7     X.8     ⋯ X.23    X2019
1 Persons Males  Females Persons Males  Females Persons ⋯ Persons Males
2 146,790 75,677 73,368  149,045 76,555 72,362  148,917 ⋯ 159,463 85,709
3                                                       ⋯
4                                                       ⋯
5 2,398   1240   1197    2,437   1,344  1,344   2,688   ⋯ 2,422   1,180
6 130     71     103     174     95     169     264     ⋯ 277     106
  X.25    X.26    X2020  X.28    X.29    X2021  X.31    X.32
1 Females Persons Males  Females Persons Males  Females Persons
2 79,081  164,790 85,200 77,369  162,569 83,658 77,233  160,891
3
4
5 1,357   2,537   1,188  1,162   2,350   1,190  1,234   2,424
6 210     316     101    137     238     119    191     310

In [3]:
colnames(df) <- c("Cause_Death", "2011_M", "2011_F", "2011_P","2012_M", "2012_F", "2012_P",
                  "2013_M", "2013_F", "2013_P", "2014_M", "2014_F", "2014_P",
                  "2015_M", "2015_F", "2015_P", "2016_M", "2016_F", "2016_P",
                  "2017_M", "2017_F", "2017_P", "2018_M", "2018_F", "2018_P",
                  "2019_M", "2019_F", "2019_P", "2020_M", "2020_F", "2020_P",
                  "2021_M", "2021_F", "2021_P")

In [4]:
head(df)

  Cause_Death                                                   2011_M 2011_F
1 Cause of death and ICD-10 code                                Males  Females
2 Total deaths                                                  75,377 71,413
3
4 Causes of death
5 CHAPTER I Certain infectious and parasitic diseases (A00-B99) 1,236  1162
6 Intestinal infectious diseases  (A00-A09)                     51     79
  2011_P  2012_M 2012_F  2012_P  2013_M 2013_F  2013_P  ⋯ 2018_P  2019_M
1 Persons Males  Females Persons Males  Females Persons ⋯ Persons Males
2 146,790 75,677 73,368  149,045 76,555 72,362  148,917 ⋯ 159,463 85,709
3                                                       ⋯
4                                                       ⋯
5 2,398   1240   1197    2,437   1,344  1,344   2,688   ⋯ 2,422   1,180
6 130     71     103     174     95     169     264     ⋯ 277     106
  2019_F  2019_P  2020_M 2020_F  2020_P  2021_M 2021_F  2021_P
1 Females Persons Males  Females Persons Males  Females Persons
2 79,081  164,790 85,200 77,369  162,569 83,658 77,233  160,891
3
4
5 1,357   2,537   1,188  1,162   2,350   1,190  1,234   2,424
6 210     316     101    137     238     119    191     310

In [5]:
# Now we need to find the columns that match the phrase 'Influenza'
library(data.table)
inf <- df[grep("Influenza", df$Cause_Death),]

head(inf)

    Cause_Death                                               2011_M 2011_F
789 Influenza and pneumonia (J09-J18)                         1121   1,353
790 Influenza due to certain identified influenza virus (J09) 12     9
791 Influenza due to other identified influenza virus (J10)   6      7
792 Influenza, virus not identified (J11)                     12     23
    2011_P 2012_M 2012_F 2012_P 2013_M 2013_F 2013_P ⋯ 2018_P 2019_M 2019_F
789 2,474  1164   1,606  2,770  1,139  1,366  2,505  ⋯ 3,124  1,759  2,287
790 21     0      0      0      3      6      9      ⋯ 8      2      1
791 13     34     48     82     21     19     40     ⋯ 111    352    463
792 35     31     38     69     15     21     36     ⋯ 29     104    147
    2019_P 2020_M 2020_F 2020_P 2021_M 2021_F 2021_P
789 4,046  1,080  1,176  2,256  923    1,043  1,966
790 3      0      1      1      0      0      0
791 815    18     22     40     0      0      0
792 251    3      2      5      2      0      2

In [6]:
# now we want to remove row 1 as this row was a sum of all sub catagories of intluenza and pneumonia
df1 <- inf[-1,]
df1

    Cause_Death                                               2011_M 2011_F
790 Influenza due to certain identified influenza virus (J09) 12     9
791 Influenza due to other identified influenza virus (J10)   6      7
792 Influenza, virus not identified (J11)                     12     23
    2011_P 2012_M 2012_F 2012_P 2013_M 2013_F 2013_P ⋯ 2018_P 2019_M 2019_F
790 21     0      0      0      3      6      9      ⋯ 8      2      1
791 13     34     48     82     21     19     40     ⋯ 111    352    463
792 35     31     38     69     15     21     36     ⋯ 29     104    147
    2019_P 2020_M 2020_F 2020_P 2021_M 2021_F 2021_P
790 3      0      1      1      0      0      0
791 815    18     22     40     0      0      0
792 251    3      2      5      2      0      2

In [7]:
#Now we will clean the other data set which includes from 2008 and make sure our data 2011-2018 is the same before merging
head(df_extra)

  X                                                             X2008  X.1
1 Cause of death and ICD-10 code                                Males  Females
2 Total deaths                                                  72,810 69,699
3
4
5 Causes of death
6 CHAPTER I Certain infectious and parasitic diseases (A00-B99) 1011   958
  X.2     X.3 X2009  X.4     X.5     X.6 X2010  ⋯ X.25     X.26      X.27
1 Persons NA  Males  Females Persons NA  Males  ⋯ Females  Persons   NA
2 142,509 NA  72,665 68,639  141,304 NA  73,040 ⋯  76,653   158,478  NA
3         NA                         NA         ⋯                    NA
4         NA                         NA         ⋯                    NA
5         NA                         NA         ⋯                    NA
6 1,969   NA  958    851     1,809   NA  1131   ⋯ 1,372    2,817     NA
  X2017    X.28     X.29      X.30 X2018  X.31    X.32
1 Males    Females  Persons   NA   Males  Females Persons
2  83,997   79,019   163,016  NA   76,307 71,051  147,358
3                             NA
4                             NA
5                             NA
6 1,342    1,306    2,648     NA   1,119  1,150   2,269

In [8]:
#remove the columns with NA
df_extra<- df_extra[,!apply(is.na(df_extra), 2, any)]
head(df_extra)

  X                                                             X2008  X.1
1 Cause of death and ICD-10 code                                Males  Females
2 Total deaths                                                  72,810 69,699
3
4
5 Causes of death
6 CHAPTER I Certain infectious and parasitic diseases (A00-B99) 1011   958
  X.2     X2009  X.4     X.5     X2010  X.7     X.8     ⋯ X.23    X2016
1 Persons Males  Females Persons Males  Females Persons ⋯ Persons Males
2 142,509 72,665 68,639  141,304 73,040 69,737  142,777 ⋯ 157,271  81,825
3                                                       ⋯
4                                                       ⋯
5                                                       ⋯
6 1,969   958    851     1,809   1131   1016    2,147   ⋯ 2,807   1,445
  X.25     X.26      X2017    X.28     X.29      X2018  X.31    X.32
1 Females  Persons   Males    Females  Persons   Males  Females Persons
2  76,653   158,478   83,997   79,019   163,016  76,307 71,051  147,358
3
4
5
6 1,372    2,817     1,342    1,306    2,648     1,119  1,150   2,269

In [9]:
#fix the column names so we know the male and females for each year
colnames(df_extra) <- c("Cause_Death", "2008_M", "2008_F", "2008_P","2009_M", "2009_F", "2009_P",
                  "2010_M", "2010_F", "2010_P", "2011_M", "2011_F", "2011_P",
                  "2012_M", "2012_F", "2012_P", "2013_M", "2013_F", "2013_P",
                  "2014_M", "2014_F", "2014P", "2015_M", "2015_F", "2015_P",
                  "2016_M", "2016_F", "2016_P", "2017_M", "2017_F", "2017_P",
                  "2018_M", "2018_F", "2018_P")

In [10]:
head(df_extra)

  Cause_Death                                                   2008_M 2008_F
1 Cause of death and ICD-10 code                                Males  Females
2 Total deaths                                                  72,810 69,699
3
4
5 Causes of death
6 CHAPTER I Certain infectious and parasitic diseases (A00-B99) 1011   958
  2008_P  2009_M 2009_F  2009_P  2010_M 2010_F  2010_P  ⋯ 2015_P  2016_M
1 Persons Males  Females Persons Males  Females Persons ⋯ Persons Males
2 142,509 72,665 68,639  141,304 73,040 69,737  142,777 ⋯ 157,271  81,825
3                                                       ⋯
4                                                       ⋯
5                                                       ⋯
6 1,969   958    851     1,809   1131   1016    2,147   ⋯ 2,807   1,445
  2016_F   2016_P    2017_M   2017_F   2017_P    2018_M 2018_F  2018_P
1 Females  Persons   Males    Females  Persons   Males  Females Persons
2  76,653   158,478   83,997   79,019   163,016  76,307 71,051  147,358
3
4
5
6 1,372    2,817     1,342    1,306    2,648     1,119  1,150   2,269

In [11]:
#find the rows that contain the words influenza

inf_extra <- df_extra[grep("Influenza", df_extra$Cause_Death),]
head(inf_extra)

    Cause_Death                                               2008_M 2008_F
790 Influenza and pneumonia (J09-J18)                         728    1,056
791 Influenza due to certain identified influenza virus (J09) 0      0
792 Influenza due to other identified influenza virus (J10)   8      10
793 Influenza, virus not identified (J11)                     7      21
    2008_P 2009_M 2009_F 2009_P 2010_M 2010_F 2010_P ⋯ 2015_P 2016_M 2016_F
790 1,784  766    1,035  1,801  1,048  1,317  2,365  ⋯ 3,075  1,441  1,890
791 0      41     37     78     14     7      21     ⋯ 7      7      4
792 18     7      8      15     2      1      3      ⋯ 198    138    186
793 28     11     25     36     7      14     21     ⋯ 94     51     85
    2016_P 2017_M 2017_F 2017_P 2018_M 2018_F 2018_P
790 3,331  1,943  2,364  4,307  1,347  1,576  2,923
791 11     3      3      6      4      3      7
792 324    338    464    802    40     55     95
793 136    173    276    449    9      16     25

In [12]:
# now we want to remove row 1 as this row was a sum of all sub catagories of intluenza and pneumonia
df2 <- inf_extra[-1,]
df2

    Cause_Death                                               2008_M 2008_F
791 Influenza due to certain identified influenza virus (J09) 0      0
792 Influenza due to other identified influenza virus (J10)   8      10
793 Influenza, virus not identified (J11)                     7      21
    2008_P 2009_M 2009_F 2009_P 2010_M 2010_F 2010_P ⋯ 2015_P 2016_M 2016_F
791 0      41     37     78     14     7      21     ⋯ 7      7      4
792 18     7      8      15     2      1      3      ⋯ 198    138    186
793 28     11     25     36     7      14     21     ⋯ 94     51     85
    2016_P 2017_M 2017_F 2017_P 2018_M 2018_F 2018_P
791 11     3      3      6      4      3      7
792 324    338    464    802    40     55     95
793 136    173    276    449    9      16     25

In [13]:
df1
df2

    Cause_Death                                               2011_M 2011_F
790 Influenza due to certain identified influenza virus (J09) 12     9
791 Influenza due to other identified influenza virus (J10)   6      7
792 Influenza, virus not identified (J11)                     12     23
    2011_P 2012_M 2012_F 2012_P 2013_M 2013_F 2013_P ⋯ 2018_P 2019_M 2019_F
790 21     0      0      0      3      6      9      ⋯ 8      2      1
791 13     34     48     82     21     19     40     ⋯ 111    352    463
792 35     31     38     69     15     21     36     ⋯ 29     104    147
    2019_P 2020_M 2020_F 2020_P 2021_M 2021_F 2021_P
790 3      0      1      1      0      0      0
791 815    18     22     40     0      0      0
792 251    3      2      5      2      0      2

    Cause_Death                                               2008_M 2008_F
791 Influenza due to certain identified influenza virus (J09) 0      0
792 Influenza due to other identified influenza virus (J10)   8      10
793 Influenza, virus not identified (J11)                     7      21
    2008_P 2009_M 2009_F 2009_P 2010_M 2010_F 2010_P ⋯ 2015_P 2016_M 2016_F
791 0      41     37     78     14     7      21     ⋯ 7      7      4
792 18     7      8      15     2      1      3      ⋯ 198    138    186
793 28     11     25     36     7      14     21     ⋯ 94     51     85
    2016_P 2017_M 2017_F 2017_P 2018_M 2018_F 2018_P
791 11     3      3      6      4      3      7
792 324    338    464    802    40     55     95
793 136    173    276    449    9      16     25

In [14]:
#from df2 we want to extract 2008-2010
df2 <- df2[, 1:10]
df2

    Cause_Death                                               2008_M 2008_F
791 Influenza due to certain identified influenza virus (J09) 0      0
792 Influenza due to other identified influenza virus (J10)   8      10
793 Influenza, virus not identified (J11)                     7      21
    2008_P 2009_M 2009_F 2009_P 2010_M 2010_F 2010_P
791 0      41     37     78     14     7      21
792 18     7      8      15     2      1      3
793 28     11     25     36     7      14     21

In [15]:
merged_df <- merge(df2,df1)
merged_df

  Cause_Death                                               2008_M 2008_F
1 Influenza due to certain identified influenza virus (J09) 0      0
2 Influenza due to other identified influenza virus (J10)   8      10
3 Influenza, virus not identified (J11)                     7      21
  2008_P 2009_M 2009_F 2009_P 2010_M 2010_F 2010_P ⋯ 2018_P 2019_M 2019_F
1 0      41     37     78     14     7      21     ⋯ 8      2      1
2 18     7      8      15     2      1      3      ⋯ 111    352    463
3 28     11     25     36     7      14     21     ⋯ 29     104    147
  2019_P 2020_M 2020_F 2020_P 2021_M 2021_F 2021_P
1 3      0      1      1      0      0      0
2 815    18     22     40     0      0      0
3 251    3      2      5      2      0      2

In [18]:
merged_df <- data.frame(lapply(merged_df, function(x) if(is.factor(x)) as.character(x) else x))
merged_df
merged_df1  <- data.frame(lapply(merged_df[,2:43], function(x) if(is.character(x)) as.numeric(x) else x))
merged_df1

  Cause_Death                                               X2008_M X2008_F
1 Influenza due to certain identified influenza virus (J09) 0       0
2 Influenza due to other identified influenza virus (J10)   8       10
3 Influenza, virus not identified (J11)                     7       21
  X2008_P X2009_M X2009_F X2009_P X2010_M X2010_F X2010_P ⋯ X2018_P X2019_M
1 0       41      37      78      14      7       21      ⋯ 8       2
2 18      7       8       15      2       1       3       ⋯ 111     352
3 28      11      25      36      7       14      21      ⋯ 29      104
  X2019_F X2019_P X2020_M X2020_F X2020_P X2021_M X2021_F X2021_P
1 1       3       0       1       1       0       0       0
2 463     815     18      22      40      0       0       0
3 147     251     3       2       5       2       0       2

  X2008_M X2008_F X2008_P X2009_M X2009_F X2009_P X2010_M X2010_F X2010_P
1 0        0       0      41      37      78      14       7      21
2 8       10      18       7       8      15       2       1       3
3 7       21      28      11      25      36       7      14      21
  X2011_M ⋯ X2018_P X2019_M X2019_F X2019_P X2020_M X2020_F X2020_P X2021_M
1 12      ⋯   8       2       1       3      0       1       1      0
2  6      ⋯ 111     352     463     815     18      22      40      0
3 12      ⋯  29     104     147     251      3       2       5      2
  X2021_F X2021_P
1 0       0
2 0       0
3 0       2

In [28]:
# now lets find the sum of each column as we have found all influeza death cases
# first columns need to be changed to numeric not factor
#merged_df <-  as.numeric((2:43))
#merged_df
sums_inf <- data.frame(mapply(sum, merged_df1))
head(sums_inf)

sums_inf <- t(sums_inf)
head(sums_inf)

#fix the column names so we know the male and females for each year
colnames(sums_inf) <- c("2008_M", "2008_F", "2008_P","2009_M", "2009_F", "2009_P",
                  "2010_M", "2010_F", "2010_P", "2011_M", "2011_F", "2011_P",
                  "2012_M", "2012_F", "2012_P", "2013_M", "2013_F", "2013_P",
                  "2014_M", "2014_F", "2014P", "2015_M", "2015_F", "2015_P",
                  "2016_M", "2016_F", "2016_P", "2017_M", "2017_F", "2017_P",
                  "2018_M", "2018_F", "2018_P", "2019_M", "2019_F", "2019_P", 
                    "2020_M", "2020_F", "2020_P", "2021_M", "2021_F", "2021_P")
sums_inf

#sums_inf <- colSums(Filter(is.numeric, merged_df[, -1])) #-1 excludes our first column
#print(sapply(merged_df, class))
#merged_df <- lapply(merged_df, as.numeric)
#print(merged_df)

#merged_df <- as.numeric(merged_df$2008_M)

        mapply.sum..merged_df1.
X2008_M  15
X2008_F  31
X2008_P  46
X2009_M  59
X2009_F  70
X2009_P 129

                        X2008_M X2008_F X2008_P X2009_M X2009_F X2009_P X2010_M
mapply.sum..merged_df1. 15      31      46      59      70      129     23
                        X2010_F X2010_P X2011_M ⋯ X2018_P X2019_M X2019_F
mapply.sum..merged_df1. 22      45      30      ⋯ 148     458     611
                        X2019_P X2020_M X2020_F X2020_P X2021_M X2021_F X2021_P
mapply.sum..merged_df1. 1069    21      25      46      2       0       2

                        2008_M 2008_F 2008_P 2009_M 2009_F 2009_P 2010_M 2010_F
mapply.sum..merged_df1. 15     31     46     59     70     129    23     22
                        2010_P 2011_M ⋯ 2018_P 2019_M 2019_F 2019_P 2020_M
mapply.sum..merged_df1. 45     30     ⋯ 148    458    611    1069   21
                        2020_F 2020_P 2021_M 2021_F 2021_P
mapply.sum..merged_df1. 25     46     2      0      2