In [1]:
df = read.csv("1. 09_jan_2023_to_22_jan_2023.csv", header=TRUE, stringsAsFactors=FALSE)
head(df)

  ADT.FN02.2023       X                            X.1
1
2 Disease group       Disease name                 Disease code
3
4
5 Bloodborne diseases Hepatitis B (newly acquired) 039
6                     Hepatitis B (unspecified)    052
  Notification.received.date X.2  X.3   X.4  X.5   X.6   X.7   ⋯
1 State or Territory                                           ⋯
2 ACT^^                      NSW  NT    Qld  SA    Tas   Vic   ⋯
3                                                              ⋯
4                                                              ⋯
5  -                          1    -     4    -     -     -    ⋯
6  -                          76   -     52   2     3     49   ⋯
  X.11                            X.12              X.13
1                                                   Historical 90 Day Period
2 Same reporting period last year Current year\nYTD Past Quarter
3 09/01/2022                      01/01/2023        25/10/2022
4 22/01/2022                      22/01/2023        22/01/2023
5  1                               7                 19
6  183                             277               1,227
  X.14                            X.15
1
2 Quarterly rolling \n5 year mean Ratio past quarter/5 year mean*
3
4
5  32.4                            0.6
6  1,222.0                         1.0
  X.16                                    X.17
1                                         Historical Yearly Period
2 Exceeds quarterly rolling mean +2 SD by Past Year
3                                         23/01/2022
4                                         22/01/2023
5  -                                       67
6  -                                       5,460
  X.18                         X.19
1
2 Yearly rolling \n5 year mean Ratio past  year/5 year mean*
3 23/01/2017
4 22/01/2022
5  133.0                        0.5
6  5,371.6                      1.0
  X.20
1
2 Exceeds yearly rolling mean +2 SD by
3
4
5  -
6  -

In [2]:
df <- df[, -c(1,3:11, 13:23)]
head(df)

  X                            X.9
1                              Totals for Australia
2 Disease name                 This reporting period
3                              09/01/2023
4                              22/01/2023
5 Hepatitis B (newly acquired)  5
6 Hepatitis B (unspecified)     203

In [3]:
#find the rows that contain the words influenza
inf <- df[grep("Influenza", df$X),]
head(inf)

   X                                X.9
51 Influenza (laboratory confirmed)  1,872

In [4]:
covid <-  df[grep("COVID", df$X),]
covid

   X        X.9
24 COVID-19  56,968

In [5]:
Jan09_Jan22_2023 <- rbind(inf, covid)
Jan09_Jan22_2023

   X                                X.9
51 Influenza (laboratory confirmed)  1,872
24 COVID-19                          56,968

In [6]:
Jan09_Jan22_2023$X.9 <- gsub(",", "", Jan09_Jan22_2023$X.9)
Jan09_Jan22_2023[,2] <- as.numeric(Jan09_Jan22_2023[,2])
Jan09_Jan22_2023

   X                                X.9
51 Influenza (laboratory confirmed)  1872
24 COVID-19                         56968

In [7]:
colnames(Jan09_Jan22_2023) <- c("Disease", "09Jan - 22Jan 2023")
Jan09_Jan22_2023

   Disease                          09Jan - 22Jan 2023
51 Influenza (laboratory confirmed)  1872
24 COVID-19                         56968

In [8]:
df2 = read.csv("2. 05_february_2023_to_23_jan_2023.csv", header=TRUE, stringsAsFactors=FALSE)
head(df2)

  ADT.FN03.2023       X                            X.1
1
2 Disease group       Disease name                 Disease code
3
4
5 Bloodborne diseases Hepatitis B (newly acquired) 039
6                     Hepatitis B (unspecified)    052
  Notification.received.date X.2  X.3   X.4   X.5   X.6   X.7   ⋯
1 State or Territory                                            ⋯
2 ACT^^                      NSW  NT    Qld   SA    Tas   Vic   ⋯
3                                                               ⋯
4                                                               ⋯
5  -                          1    -     -     -     -     -    ⋯
6  -                          67   1     38    2     -     50   ⋯
  X.11                            X.12              X.13
1                                                   Historical 90 Day Period
2 Same reporting period last year Current year\nYTD Past Quarter
3 23/01/2022                      01/01/2023        08/11/2022
4 05/02/2022                      05/02/2023        05/02/2023
5  2                               9                 18
6  178                             452               1,199
  X.14                            X.15
1
2 Quarterly rolling \n5 year mean Ratio past quarter/5 year mean*
3
4
5  31.2                            0.6
6  1,199.4                         1.0
  X.16                                    X.17
1                                         Historical Yearly Period
2 Exceeds quarterly rolling mean +2 SD by Past Year
3                                         06/02/2022
4                                         05/02/2023
5  -                                       67
6  -                                       5,461
  X.18                         X.19
1
2 Yearly rolling \n5 year mean Ratio past  year/5 year mean*
3 06/02/2017
4 05/02/2022
5  132.4                        0.5
6  5,366.8                      1.0
  X.20
1
2 Exceeds yearly rolling mean +2 SD by
3
4
5  -
6  -

In [9]:
df2 <- df2[, -c(1,3:11, 13:23)]
head(df2)

  X                            X.9
1                              Totals for Australia
2 Disease name                 This reporting period
3                              23/01/2023
4                              05/02/2023
5 Hepatitis B (newly acquired)  2
6 Hepatitis B (unspecified)     173

In [10]:
inf <- df2[grep("Influenza", df2$X),]
head(inf)

   X                                X.9
51 Influenza (laboratory confirmed)  1,588

In [11]:
covid <-  df2[grep("COVID", df2$X),]
covid

   X        X.9
24 COVID-19  36,885

In [12]:
Jan23_Feb05_2023 <- rbind(inf, covid)
Jan23_Feb05_2023

   X                                X.9
51 Influenza (laboratory confirmed)  1,588
24 COVID-19                          36,885

In [13]:
Jan23_Feb05_2023$X.9 <- gsub(",", "", Jan23_Feb05_2023$X.9)
Jan23_Feb05_2023[,2] <- as.numeric(Jan23_Feb05_2023[,2])
Jan23_Feb05_2023

   X                                X.9
51 Influenza (laboratory confirmed)  1588
24 COVID-19                         36885

In [14]:
colnames(Jan23_Feb05_2023) <- c("Disease", "23Jan - 05Feb 2023")
Jan23_Feb05_2023

   Disease                          23Jan - 05Feb 2023
51 Influenza (laboratory confirmed)  1588
24 COVID-19                         36885

In [15]:
df3 = read.csv("3. 06_february_2023_to_19_february_2023.csv", header=TRUE, stringsAsFactors=FALSE)
head(df3)

  ADT.FN04.2023       X                            X.1
1
2 Disease group       Disease name                 Disease code
3
4
5 Bloodborne diseases Hepatitis B (newly acquired) 039
6                     Hepatitis B (unspecified)    052
  Notification.received.date X.2   X.3   X.4  X.5   X.6   X.7   ⋯
1 State or Territory                                            ⋯
2 ACT^^                      NSW   NT    Qld  SA    Tas   Vic   ⋯
3                                                               ⋯
4                                                               ⋯
5  -                          -     -     2    -     -     -    ⋯
6  -                          101   -     51   3     -     58   ⋯
  X.11                            X.12              X.13
1                                                   Historical 90 Day Period
2 Same reporting period last year Current year\nYTD Past Quarter
3 06/02/2022                      01/01/2023        22/11/2022
4 19/02/2022                      19/02/2023        19/02/2023
5  1                               14                20
6  199                             675               1,195
  X.14                            X.15
1
2 Quarterly rolling \n5 year mean Ratio past quarter/5 year mean*
3
4
5  30.2                            0.7
6  1,220.2                         1.0
  X.16                                    X.17
1                                         Historical Yearly Period
2 Exceeds quarterly rolling mean +2 SD by Past Year
3                                         20/02/2022
4                                         19/02/2023
5  -                                       73
6  -                                       5,472
  X.18                         X.19
1
2 Yearly rolling \n5 year mean Ratio past  year/5 year mean*
3 20/02/2017
4 19/02/2022
5  130.2                        0.6
6  5,360.2                      1.0
  X.20
1
2 Exceeds yearly rolling mean +2 SD by
3
4
5  -
6  -

In [16]:
df3 <- df3[, -c(1,3:11, 13:23)]
head(df3)

  X                            X.9
1                              Totals for Australia
2 Disease name                 This reporting period
3                              06/02/2023
4                              19/02/2023
5 Hepatitis B (newly acquired)  4
6 Hepatitis B (unspecified)     230

In [17]:
inf <- df3[grep("Influenza", df3$X),]
head(inf)

   X                                X.9
51 Influenza (laboratory confirmed)  2,232

In [18]:
covid <-  df3[grep("COVID", df3$X),]
covid

   X        X.9
24 COVID-19  36,323

In [19]:
Feb06_Feb19_2023 <- rbind(inf, covid)
Feb06_Feb19_2023

   X                                X.9
51 Influenza (laboratory confirmed)  2,232
24 COVID-19                          36,323

In [20]:
Feb06_Feb19_2023$X.9 <- gsub(",", "", Feb06_Feb19_2023$X.9)
Feb06_Feb19_2023[,2] <- as.numeric(Feb06_Feb19_2023[,2])
Feb06_Feb19_2023

   X                                X.9
51 Influenza (laboratory confirmed)  2232
24 COVID-19                         36323

In [21]:
colnames(Feb06_Feb19_2023) <- c("Disease", "06Feb - 19Feb 2023")
Feb06_Feb19_2023

   Disease                          06Feb - 19Feb 2023
51 Influenza (laboratory confirmed)  2232
24 COVID-19                         36323

In [22]:
df4 <- read.csv("4. 20_february_2023_to_05_march_2023.csv", header=TRUE, stringsAsFactors=FALSE)
head(df4)

  ADT.FN05.2023       X                            X.1
1
2 Disease group       Disease name                 Disease code
3
4
5 Bloodborne diseases Hepatitis B (newly acquired) 039
6                     Hepatitis B (unspecified)    052
  Notification.received.date X.2   X.3   X.4  X.5   X.6   X.7   ⋯
1 State or Territory                                            ⋯
2 ACT^^                      NSW   NT    Qld  SA    Tas   Vic   ⋯
3                                                               ⋯
4                                                               ⋯
5  -                          -     -     3    -     -     -    ⋯
6  -                          93    1     56   4     1     69   ⋯
  X.11                            X.12              X.13
1                                                   Historical 90 Day Period
2 Same reporting period last year Current year\nYTD Past Quarter
3 20/02/2022                      01/01/2023        06/12/2022
4 05/03/2022                      05/03/2023        05/03/2023
5  1                               17                19
6  210                             933               1,243
  X.14                            X.15
1
2 Quarterly rolling \n5 year mean Ratio past quarter/5 year mean*
3
4
5  28.8                            0.7
6  1,264.6                         1.0
  X.16                                    X.17
1                                         Historical Yearly Period
2 Exceeds quarterly rolling mean +2 SD by Past Year
3                                         06/03/2022
4                                         05/03/2023
5  -                                       75
6  -                                       5,518
  X.18                         X.19
1
2 Yearly rolling \n5 year mean Ratio past  year/5 year mean*
3 06/03/2017
4 05/03/2022
5  129.0                        0.6
6  5,356.8                      1.0
  X.20
1
2 Exceeds yearly rolling mean +2 SD by
3
4
5  -
6  -

In [23]:
df4 <- df4[, -c(1,3:11, 13:23)]
head(df4)

  X                            X.9
1                              Totals for Australia
2 Disease name                 This reporting period
3                              20/02/2023
4                              05/03/2023
5 Hepatitis B (newly acquired)  3
6 Hepatitis B (unspecified)     254

In [24]:
inf <- df4[grep("Influenza", df4$X),]
head(inf)

   X                                X.9
51 Influenza (laboratory confirmed)  2,692

In [25]:
covid <-  df4[grep("COVID", df4$X),]
covid

   X        X.9
24 COVID-19  35,725

In [26]:
Feb20_Mar05_2023 <- rbind(inf, covid)
Feb20_Mar05_2023

   X                                X.9
51 Influenza (laboratory confirmed)  2,692
24 COVID-19                          35,725

In [27]:
Feb20_Mar05_2023$X.9 <- gsub(",", "", Feb20_Mar05_2023$X.9)
Feb20_Mar05_2023[,2] <- as.numeric(Feb20_Mar05_2023[,2])
Feb20_Mar05_2023

   X                                X.9
51 Influenza (laboratory confirmed)  2692
24 COVID-19                         35725

In [28]:
colnames(Feb20_Mar05_2023) <- c("Disease", "20Feb - 05Mar 2023")
Feb20_Mar05_2023

   Disease                          20Feb - 05Mar 2023
51 Influenza (laboratory confirmed)  2692
24 COVID-19                         35725

In [29]:
df5 <- read.csv("5. 06_march_2023_to_19_march_2023.csv", header=TRUE, stringsAsFactors=FALSE)
head(df5)

  ADT.FN06.2023       X                            X.1
1
2 Disease group       Disease name                 Disease code
3
4
5 Bloodborne diseases Hepatitis B (newly acquired) 039
6                     Hepatitis B (unspecified)    052
  Notification.received.date X.2  X.3   X.4   X.5   X.6   X.7   ⋯
1 State or Territory                                            ⋯
2 ACT                        NSW  NT    Qld   SA    Tas   Vic   ⋯
3                                                               ⋯
4                                                               ⋯
5  -                          3    1     -     -     -     -    ⋯
6  -                          80   -     34    3     1     50   ⋯
  X.11                            X.12              X.13
1                                                   Historical 90 Day Period
2 Same reporting period last year Current year\nYTD Past Quarter
3 06/03/2022                      01/01/2023        20/12/2022
4 19/03/2022                      19/03/2023        19/03/2023
5  1                               20                21
6  220                             1,126             1,240
  X.14                            X.15
1
2 Quarterly rolling \n5 year mean Ratio past quarter/5 year mean*
3
4
5  26.2                            0.8
6  1,275.2                         1.0
  X.16                                    X.17
1                                         Historical Yearly Period
2 Exceeds quarterly rolling mean +2 SD by Past Year
3                                         20/03/2022
4                                         19/03/2023
5  -                                       77
6  -                                       5,487
  X.18                         X.19
1
2 Yearly rolling \n5 year mean Ratio past  year/5 year mean*
3 20/03/2017
4 19/03/2022
5  127.4                        0.6
6  5,354.8                      1.0
  X.20
1
2 Exceeds yearly rolling mean +2 SD by
3
4
5  -
6  -

In [30]:
df5 <- df5[, -c(1,3:11, 13:23)]
head(df5)

  X                            X.9
1                              Totals for Australia
2 Disease name                 This reporting period
3                              06/03/2023
4                              19/03/2023
5 Hepatitis B (newly acquired)  4
6 Hepatitis B (unspecified)     189

In [31]:
inf <- df5[grep("Influenza", df5$X),]
head(inf)

   X                                X.9
51 Influenza (laboratory confirmed)  3,730

In [32]:
covid <-  df5[grep("COVID", df5$X),]
covid

   X        X.9
24 COVID-19  44,791

In [33]:
Mar06_Mar19_2023 <- rbind(inf, covid)
Mar06_Mar19_2023

   X                                X.9
51 Influenza (laboratory confirmed)  3,730
24 COVID-19                          44,791

In [34]:
Mar06_Mar19_2023$X.9 <- gsub(",", "", Mar06_Mar19_2023$X.9)
Mar06_Mar19_2023[,2] <- as.numeric(Mar06_Mar19_2023[,2])
Mar06_Mar19_2023

   X                                X.9
51 Influenza (laboratory confirmed)  3730
24 COVID-19                         44791

In [35]:
colnames(Mar06_Mar19_2023) <- c("Disease", "06Mar - 19Mar 2023")
Mar06_Mar19_2023

   Disease                          06Mar - 19Mar 2023
51 Influenza (laboratory confirmed)  3730
24 COVID-19                         44791

In [36]:
combined_table_2023 <- cbind(Jan09_Jan22_2023, Jan23_Feb05_2023[,2], Feb06_Feb19_2023[,2], Feb20_Mar05_2023[,2], Mar06_Mar19_2023[,2])
combined_table_2023

   Disease                          09Jan - 22Jan 2023 Jan23_Feb05_2023[, 2]
51 Influenza (laboratory confirmed)  1872               1588
24 COVID-19                         56968              36885
   Feb06_Feb19_2023[, 2] Feb20_Mar05_2023[, 2] Mar06_Mar19_2023[, 2]
51  2232                  2692                  3730
24 36323                 35725                 44791

In [37]:
colnames(combined_table_2023) <- c("Disease", "09Jan - 22Jan 2023", "Jan23_Feb05_2023", "Feb06_Feb19_2023", "Feb20_Mar05_2023", "Mar06_Mar19_2023")
combined_table_2023

   Disease                          09Jan - 22Jan 2023 Jan23_Feb05_2023
51 Influenza (laboratory confirmed)  1872               1588
24 COVID-19                         56968              36885
   Feb06_Feb19_2023 Feb20_Mar05_2023 Mar06_Mar19_2023
51  2232             2692             3730
24 36323            35725            44791